<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="LxTwitchViewer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/>
    </startup>
    <userSettings>
        <LxTwitchViewer.Properties.Settings>
            <setting name="Volume" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="LastChannel" serializeAs="String">
                <value />
            </setting>
            <setting name="LastQuality" serializeAs="String">
                <value>best</value>
            </setting>
            <setting name="VlcArgs" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>--file-caching=5000</string>
                        <string>--live-caching=5000</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="StreamlinkArgs" serializeAs="String">
                <value>--hls-segment-threads=4</value>
            </setting>
        </LxTwitchViewer.Properties.Settings>
    </userSettings>
</configuration>
